.magic-dots ul {
    padding: 0;
    display: flex;
    transition: all .2s;
    position: relative;
    margin: 0px;
  }
    
  .magic-dots li.active button::before {
    color: #00558B;
    opacity: .75;
  }
  
  .magic-dots li button::before {
    transition: font-size .35s;    
    font-size: 40px;
    content: '\2022';
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    text-align: center;
    opacity: .25;
    color: #000;
  }
    
  .magic-dots li.small button::before {
    font-size: 30px;
    line-height: 20px;
  }

  .magic-dots li {
    list-style: none;
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
  }
 .magic-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: 0;
    background: 0 0;
 }